<main>
  <div class="admin container px-5 px-sm-0 pt-3">
    <h1 class="heading-custom" data-en="Dash Board">管理者用ダッシュボード</h1>
    <div class="row">
      <div class="col-md-4 new-game-form">
        <section class="section-back mt-3">
        <h3 class="font-al">New Game</h3>
          <%= render 'games/form', model: @game %>
        </section>
      </div>

      <div class="col-md-8">
        <section class="section-back mt-3">
        <h3 class="font-al">All Requests</h3>
          <div class="tabs d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs">
              <li class="nav-item tab-label">
                <a class="nav-link tab-link active font-jp" data-toggle="tab" href="#pending_approval">承認待ち</a>
              </li>
              <li class="nav-item tab-label">
                <a class="nav-link tab-link font-jp" data-toggle="tab" href="#approved">承認済み</a>
              </li>
              <li class="nav-item tab-label">
                <a class="nav-link tab-link font-jp" data-toggle="tab" href="#rejected">拒否済み</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div id="pending_approval" class="tab-pane fade show active">
              <%= render 'request_list', requests: @pending_approval_requests %>
            </div>

            <div id="approved" class="tab-pane fade">
              <%= render 'request_list', requests: @approved_requests %>
            </div>

            <div id="rejected" class="tab-pane fade">
              <%= render 'request_list', requests: @rejected_requests %>
            </div>
          </div>
        </section>
      </div>

  </div>
  <div class="admin-overlay"></div>
</div>
</main>




