<main>
  <div class="about-bg">
    <div class="container text-center">
      <h1 class="about-heading">ゲーム課金を、スマートに。</h1>
      <p class="about-p font-jp mt-3 pt-3">このサイトはスマホゲーム課金者向けのレビューサイトです。</p>
      <p class="about-p font-jp">プレイ中のスマホゲームの課金レビューを確認して、賢くゲームにお金を使いましょう。</p>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <section class="section-back mt-3">
            <h2 class="font-al p-3">Review</h2>
            <p class="font-jp p-3">スマホゲームの課金情報についてレビューを送信しましょう。</p>
          </section>
        </div>
        <div class="col-md-4">
          <section class="section-back mt-3">
            <h2 class="font-al p-3">Favorite</h2>
            <p class="font-jp p-3">お気に入りを登録して、おすすめのゲームを他ユーザーに広めよう。</p>
          </section>
        </div>
        <div class="col-md-4">
          <section class="section-back mt-3">
            <h2 class="font-al p-3">Search</h2>
            <p class="font-jp p-3">ゲームを検索して、課金前にレビューを確認しよう。</p>
          </section>
        </div>
      </div>
    </div>
  </section>
</main>