<main>
  <div class="jumbotron top-bg text-center">
    <div class="container top-heading">
      <div class="row">
        <div class="mx-auto col-lg-6 col-lg-offset-3">
          <h5 class="top-p font-jp mb-3">「その課金、本当に必要？」<br>スマホゲーム専門の課金レビューサイト <i class="fas fa-mobile-screen-button"></i></h5>
          <h1 class="top-heading-text">
            <strong class="heading"><span class="heading-font">S</span>mart <span class="heading-font">G</span>amars</strong>
          </h1>
        </div>
      </div>
    </div>
    <div class="container top-btn">
      <div class="row">
        <div class="mx-auto col-lg-6 col-lg-offset-3">
          <div class="btn-wrapper col-11 col-md-10 mx-auto">
            <div class="d-grid gap-2 col-11 col-md-10 mx-auto">
              <div class="log-custom">
                <a class="btn btn-outline-light btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
                <a class="btn btn-outline-light btn-block sign_up" href="/users/sign_up">Sign up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>